h2, .alert-danger, .btn{
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
}

h2{
    font-size: 28px;
    background-color: rgb(218, 245, 255);
    color: rgb(0, 56, 176);
    border: solid 2px rgb(0, 56, 176);
    font-weight: 700;
    margin-top: 50px;
}

.alert-danger{
    font-size: 16px;
    background-color: rgb(218, 245, 255);
    color: rgb(0, 56, 176);
    margin-top: 20px;
}

.btn{
    font-size: 16px;
}

span{
    color: rgb(0, 56, 176);
    font-style: italic;
    font-size: 14px;
}


#khuVuc, #doiTuong, #KTloaiKH{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(0, 56, 176);
    background-color: rgb(239, 251, 255);
}

hr{
    margin-top: 50px;
}